In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
sub = pd.read_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\subscriptions_clean.csv")
sub.head()

,Unnamed: 0,user_id_,subscription_date_min,subscription_date_max,subscription_date_count,renew_last,first_subscription_date_first,first_subscription_last,referral_first,promotion_first,payment3x_first,payment2_last,payment3_last
0,0,1,2019-10-02,2019-10-02,1,0,2010-11-08,0,0,0,0,0,0
1,1,9,2019-11-20,2020-11-20,2,1,2018-11-20,0,0,0,0,0,0
2,2,10,2019-03-30,2019-03-30,1,1,2019-03-30,1,0,0,0,0,0
3,3,40,2021-10-03,2021-10-03,1,1,2018-10-03,0,0,0,0,0,0
4,4,67,2019-11-18,2019-11-18,1,1,2019-11-18,1,0,0,0,0,0

In [37]:
sub = sub.drop(columns=["Unnamed: 0"])

In [38]:
sub = sub.rename(columns={"subscription_date_min":"second_subscription","subscription_date_max":"last_subscription",
                         "subscription_date_count":"nb_year","renew_last":"has_renewed",
                         "first_subscription_date_first": "first_suscription_date","first_subscription_last":"is_new_user",
                         "referral_first":"referral","promotion_first":"promotion","payment3x_first":"payment3x",
                         "payment2_last":"payement2","payment3_last":"payment3"})

In [39]:
sub["second_subscription"] = pd.to_datetime(sub["second_subscription"])
sub["last_subscription"] = pd.to_datetime(sub["last_subscription"])
sub["first_suscription_date"] = pd.to_datetime(sub["first_suscription_date"])

In [40]:
sub["abscence_year"] = sub["second_subscription"] - sub["first_suscription_date"]
sub['abscence_year'] = pd.to_numeric(sub['abscence_year'].dt.days, downcast='integer')

In [11]:
exc = pd.read_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\exchanges_clean_final.csv")
exc.head()

,Unnamed: 0,conversation_id,exchange_id,created_at,creator_id,guest_user_id,host_user_id,start_on,end_on,guest_countguest_count,night_count,exchange_type,home_type,residence_type,capacity,country,diff_capacity,is_finalized,is_cancelled,diff_book_stay
0,2,38156044,59856100,2020-07-17,2207335,2207335,3537414,2020-07-27,2020-08-02,4,6,NON_RECIPROCAL,apartment,secondary,4.0,ESP,0,False,False,10
1,4,38553219,60287269,2020-09-14,3055374,3055374,3243667,2020-09-18,2020-09-20,5,2,NON_RECIPROCAL,Home,primary,6.0,FRA,1,True,False,4
2,6,45977191,68682752,2022-07-03,3024428,3024428,605487,2022-08-22,2022-09-02,2,11,NON_RECIPROCAL,apartment,primary,8.0,HRV,0,False,False,50
3,7,39073751,60862385,2021-01-07,1483937,1483937,471734,2021-02-13,2021-02-27,2,14,NON_RECIPROCAL,Home,primary,8.0,PYF,0,False,False,37
4,8,39256601,61069855,2021-02-11,2772688,2772688,2685956,2021-02-28,2021-03-08,4,8,NON_RECIPROCAL,Home,primary,7.0,USA,3,False,False,17

In [5]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99702 entries, 0 to 99701
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   subscription_date        99702 non-null  object
 1   user_id                  99702 non-null  int64
 2   renew                    99702 non-null  int64
 3   first_subscription_date  99702 non-null  object
 4   first_subscription       99702 non-null  int64
 5   referral                 99702 non-null  int64
 6   promotion                99702 non-null  int64
 7   payment3x                99702 non-null  int64
 8   payment2                 99702 non-null  int64
 9   payment3                 99702 non-null  int64
 10  diff_year                99702 non-null  int64
dtypes: int64(9), object(2)
memory usage: 8.4+ MB

In [12]:
exc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10494222 entries, 0 to 10494221
Data columns (total 20 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   conversation_id         int64
 2   exchange_id             int64
 3   created_at              object
 4   creator_id              int64
 5   guest_user_id           int64
 6   host_user_id            int64
 7   start_on                object
 8   end_on                  object
 9   guest_countguest_count  int64
 10  night_count             int64
 11  exchange_type           object
 12  home_type               object
 13  residence_type          object
 14  capacity                float64
 15  country                 object
 16  diff_capacity           int64
 17  is_finalized            bool
 18  is_cancelled            bool
 19  diff_book_stay          int64
dtypes: bool(2), float64(1), int64(10), object(7)
memory usage: 1.4+ GB

In [13]:
exc = exc.drop(columns=["Unnamed: 0"])
exc["created_at"] = pd.to_datetime(exc["created_at"])
exc["start_on"] = pd.to_datetime(exc["start_on"])
exc["end_on"] = pd.to_datetime(exc["end_on"])

In [15]:
exc["exchange_type"] = exc["exchange_type"].astype("string")
exc["home_type"] = exc["home_type"].astype("string")
exc["residence_type"] = exc["residence_type"].astype("string")
exc["country"] = exc["country"].astype("string")

In [71]:
guests = exc.groupby("guest_user_id").agg({"host_user_id":"count", "guest_countguest_count": "mean","night_count":"mean",
                                          "exchange_type":pd.Series.mode,"home_type":pd.Series.mode,"residence_type":pd.Series.mode,
                                          "capacity":"mean","diff_capacity":"mean","is_finalized":"sum","diff_book_stay":"mean"}).reset_index()

In [72]:
guests = guests.rename(columns={"host_user_id":"nb_of_exchanges"})

In [73]:
guests = guests.round(0)

In [67]:
hosts = exc.groupby("host_user_id").agg({"guest_user_id":"count", "guest_countguest_count": "mean","night_count":"mean",
                                          "exchange_type":pd.Series.mode,"home_type":pd.Series.mode,"residence_type":pd.Series.mode,
                                          "capacity":"mean","diff_capacity":"mean","is_finalized":"sum","diff_book_stay":"mean"}).reset_index()

In [68]:
hosts = hosts.rename(columns={"guest_user_id":"nb_of_exchanges"})

In [69]:
hosts = hosts.round(0)

In [83]:
guests = guests.rename(columns={"guest_user_id":"user_id","nb_of_exchanges":"exchanges_guest","night_count":"nights_guest",
                             "exchange_type":"exchange_type_guest","home_type":"home_guest","residence_type":"residence_guest",
                               "capacity":"capacity_guest","diff_capacity":"diff_capacity_guest","is_finalized":"finalized_guest",
                               "diff_book_stay":"book_diff_guest","guest_countguest_count":"nb_guests_guest"})

In [85]:
hosts = hosts.rename(columns={"host_user_id":"user_id","nb_of_exchanges":"exchanges_host","night_count":"nights_host",
                             "exchange_type":"exchange_type_host","home_type":"home_host","residence_type":"residence_host",
                               "capacity":"capacity_host","diff_capacity":"diff_capacity_host","is_finalized":"finalized_host",
                               "diff_book_stay":"book_diff_host","guest_countguest_count":"nb_guests_host"})

In [86]:
sub = sub.rename(columns={"user_id_":"user_id"})

In [87]:
sub_guest = sub.merge(guests, on="user_id",how="left")

In [88]:
sub_guest.head()

,user_id,second_subscription,last_subscription,nb_year,has_renewed,first_suscription_date,is_new_user,referral,promotion,payment3x,...,exchanges_guest,nb_guests_guest,nights_guest,exchange_type_guest,home_guest,residence_guest,capacity_guest,diff_capacity_guest,finalized_guest,book_diff_guest
0,1,2019-10-02,2019-10-02,1,0,2010-11-08,0,0,0,0,...,62.0,6.0,5.0,NON_RECIPROCAL,Home,primary,9.0,2.0,2.0,37.0
1,9,2019-11-20,2020-11-20,2,1,2018-11-20,0,0,0,0,...,343.0,5.0,6.0,NON_RECIPROCAL,Home,primary,8.0,3.0,10.0,43.0
2,10,2019-03-30,2019-03-30,1,1,2019-03-30,1,0,0,0,...,29.0,4.0,5.0,NON_RECIPROCAL,apartment,primary,6.0,2.0,0.0,109.0
3,40,2021-10-03,2021-10-03,1,1,2018-10-03,0,0,0,0,...,4.0,5.0,6.0,NON_RECIPROCAL,apartment,primary,7.0,2.0,0.0,42.0
4,67,2019-11-18,2019-11-18,1,1,2019-11-18,1,0,0,0,...,40.0,3.0,4.0,NON_RECIPROCAL,apartment,primary,5.0,2.0,0.0,37.0

In [92]:
sub_guest[["exchanges_guest","nb_guests_guest","nights_guest",
           "capacity_guest","diff_capacity_guest","finalized_guest","book_diff_guest"]] = sub_guest[["exchanges_guest","nb_guests_guest","nights_guest",
           "capacity_guest","diff_capacity_guest","finalized_guest","book_diff_guest"]].fillna(0)

In [95]:
sub_guest[["exchange_type_guest","home_guest","residence_guest"]] = sub_guest[["exchange_type_guest",
                                                                               "home_guest","residence_guest"]].fillna("NOT GUEST")

In [98]:
df_all = sub_guest.merge(hosts, on="user_id",how="left")

In [103]:
df_all[["exchanges_host","nb_guests_host","nights_host",
           "capacity_host","diff_capacity_host","finalized_host","book_diff_host"]] = df_all[["exchanges_host","nb_guests_host","nights_host",
           "capacity_host","diff_capacity_host","finalized_host","book_diff_host"]].fillna(0)

In [105]:
df_all[["exchange_type_host","home_host","residence_host"]] = df_all[["exchange_type_host",
                                                                      "home_host","residence_host"]].fillna("NOT HOST")

In [108]:
df_all.head()

,user_id,second_subscription,last_subscription,nb_year,has_renewed,first_suscription_date,is_new_user,referral,promotion,payment3x,...,exchanges_host,nb_guests_host,nights_host,exchange_type_host,home_host,residence_host,capacity_host,diff_capacity_host,finalized_host,book_diff_host
0,1,2019-10-02,2019-10-02,1,0,2010-11-08,0,0,0,0,...,32.0,4.0,6.0,NON_RECIPROCAL,Home,primary,8.0,4.0,2.0,56.0
1,9,2019-11-20,2020-11-20,2,1,2018-11-20,0,0,0,0,...,380.0,4.0,5.0,NON_RECIPROCAL,apartment,primary,7.0,3.0,8.0,43.0
2,10,2019-03-30,2019-03-30,1,1,2019-03-30,1,0,0,0,...,53.0,3.0,11.0,NON_RECIPROCAL,apartment,primary,12.0,9.0,0.0,121.0
3,40,2021-10-03,2021-10-03,1,1,2018-10-03,0,0,0,0,...,4.0,3.0,5.0,NON_RECIPROCAL,Home,primary,5.0,2.0,0.0,104.0
4,67,2019-11-18,2019-11-18,1,1,2019-11-18,1,0,0,0,...,53.0,3.0,8.0,NON_RECIPROCAL,apartment,primary,6.0,3.0,1.0,144.0

In [110]:
df_all = df_all.drop(columns=["second_subscription",'last_subscription','first_suscription_date'])

In [114]:
df_all.to_csv(r"C:\Users\imane\OneDrive\Desktop\home_exchange\HomeExchange\data\HomeExchange_ML.csv")